{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
<div class="d-flex justify-content-center">
  <div class="card border-0 shadow-sm" style="max-width:42rem;width:100%;">
    <div class="card-body p-4">
      <h4 class="mb-4">
        Создание нового пароля
      </h4>
      <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Сохранить пароль" button_class="btn btn-outline-primary" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}