{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block title %}
{% if '/edit/' in request.path %}
Редактирование проекта
{% elif "/delete/" in request.path %}
Удаление проекта
{% else %}
Добавление проекта
{% endif %}
{% endblock %}
{% block content %}
<div class="d-flex justify-content-center">
  <div class="card border-0 shadow-sm" style="max-width:42rem;width:100%;">
    <div class="card-body p-4">
      <h5 class="mb-4">
      {% if '/edit/' in request.path %}
      Редактирование проекта
      {% elif '/delete/' in request.path %}
      Удаление проекта
      {% else %}
      Новый проект
      {% endif %}
      </h5>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if not '/delete/' in request.path %}
          {% bootstrap_form form %}
        {% else %}
          <article>
            {% if form.instance.image %}
              <img class="img-fluid rounded mb-3"
                   src="{{ form.instance.image.url }}">
            {% endif %}
            <small class="text-muted">
              {{ form.instance.pub_date|date:"d E Y" }}
            </small>
            <h4 class="mt-2">{{ form.instance.title }}</h4>
            <p class="text-muted">
              {{ form.instance.text|linebreaksbr }}
            </p>
          </article>
        {% endif %}
        {% bootstrap_button button_type="submit" content="Отправить" button_class="btn btn-outline-primary" %}
      </form>
    </div>
  </div>
</div>
{% endblock %}